!!! HTML
%html
  %head
    %title Axodine
    = stylesheet_link_tag 'application', params[:controller], 'data-turbolinks-track' => true
    = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = nav_bar :fixed => :top, :brand => 'Axodine', :responsive => true

    .container.well{:style => 'margin-top: 70px;'}
      = yield